* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .App{
    font-family: 'IBM Plex Sans', sans-serif;
  }
  /* main css for website */
  .primary_color{
    background-color: rgb(243,238,232);
  }
  .secondary_color{
    background-color:rgb(234,218,177);
  }
  .footer_color{
    background-color: rgb(19,19,19);
  }
  /* button header */
    .btn_header{
      width: 11rem;
      height: 2.3rem;
      border: none;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      text-align: center;
      background-color: rgb(83, 83, 83);
      font-weight: bold;
      font-size: 15px;
  }
  .btn_header:hover{
      background-color: rgb(237,125,62);
  }
  
  .btn_explore{
    width: 11rem;
    height: 2.4rem;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: rgb(237,125,62);
    font-weight: bold;
    font-size: 15px;  
    z-index: 1000;
  }