
 .bottom_banner{
    position: relative;
    text-align: center;
    color: white;
 }
 .bottom_banner_img{
        object-fit: fill;
        object-position: center;
        width: 100%;
    }
    .nottom_banner_text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: bolder;
    }