.footer-wrapper{
    height: 530px;
    margin-top: -1rem;
    display: flex;
    color: white;
    font-size: 15px;
    background-color: var(--footer-color);
    
    
}   
    .footer-left{
        margin-top: 9rem;
        margin-left: 6rem;
    }

        .footer-left-icon{
            margin-top: 2.0rem;
        }
        .footer-left-copyright{
            display: flex;
            margin-top: 2rem;
        }

    .footer-right{
        display: flex;
        flex-direction: row;
        margin-left: 400px;
        margin-top: 9rem;
    }
        .footer-right p{
            margin-top: 1.3rem;
            cursor: pointer;
        }
            .footer-right p:hover{
                color:rgb(237,125,62);
            }
        .footer-right span{
            margin-bottom: 0.5rem;
            font-weight: bolder;
            color: rgb(237,125,62);
        }

        .footer-right-about{
            display: flex;
            flex-direction: column;
        }
        .footer-right-support{
            display: flex;
            flex-direction: column;
            margin-left: 40px;
        }
        .footer-right-contact{
            display: flex;
            flex-direction: column;
            margin-left: 40px;
        }

@media (max-width: 767px) {
    .footer-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 4rem;
    }
    .footer-left{
        margin: 0;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .footer-right{
        margin: 0;
        margin-left: 1rem;
    }
}   