.middle-banner{
    display: grid;
    grid-template-areas: "aa aa bb bb bb bb bb cc cc";
}
    .middle-banner-card{
        margin-top: 3rem;
        margin-bottom: 7rem;
        grid-area: bb;
        background-color: red;
        height: 350px;
        border-radius: 20px;
        background-color:rgb(234,218,177);
       
    }
        .middle-banner-text{
            justify-content: center;
            text-align: center;
            padding: 2.5rem;
        }
            .middle-banner-text span{
                font-size: 2.7rem;
                font-weight: bold;
            } 
             .middle-banner-text p{
                font-size: 15px;
                margin-top: 1.3rem;
           
            }

    .middle-banner-icon{
     margin-top: 1rem;
     font-size: 13px;
     display: grid;
     grid-template-areas: "ww aa bb cc dd ee ff gg hh kk ll";
    }
        .middle-banner-tree{
            grid-area: bb;

        }
        .middle-banner-kitchen{
            grid-area: cc;
        }
        .middle-banner-bathroom{
            grid-area: dd;
        }
        .middle-banner-lunderette{
            grid-area: ee;
        }
        .middle-banner-headPhone{
            grid-area: ff;
        }
        .middle-banner-service{
            grid-area: gg;
        }
        .middle-banner-wifi{
            grid-area: hh;
        }
        .middle-banner-community{
            grid-area: kk;
        }
        .middle-banner-subtext span{
            display: flex;
            text-align: center;
            margin-top: 1rem;
         
            
        }
     

        
@media (max-width: 767px) {
    .middle-banner{
        display: none;
    }
}   