.post-wrapper{
    margin-top: 6.5rem;
}
.post-wrapper-all{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 5px;
    padding: 55px;
    padding-right: 80px;
  

}
    .post-location{
        position: relative;
        margin-left: 87px;
        font-size: 44px;
        font-weight: bold;
    }
    .post-filter{
        margin-left: 87px;
    }

/* Mobile Styles */
@media (max-width: 767px) {
    .post-wrapper{
      
    }
   .post-wrapper-all{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:  1fr;
    row-gap: 70px;
    padding: 0;

 
   }
   .post-location{
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   }
   .post-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 4rem;
    font-size: 10px;
   }
    
  }
  
  /* Tablet Styles */
  @media (min-width: 768px) and (max-width: 1023px) {

  }
  