@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --font-family:'IBM Plex Sans', sans-serif; ;
    /* --primary-color:  rgb(129,146,130); */
    --secondary-color: rgb(129,146,130);
    --footer-color: rgb(52,66,87  );
    --btn-color: rgb(237,125,62);

  }


  
    
  


